<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <!--Example: https://sqs.sa-east-1.amazonaws.com -->
    <add key="SQSServiceUrl" value="https://sqs.sa-east-1.amazonaws.com" />
    <!--Example: https://sqs.sa-east-1.amazonaws.com/7837836/ -->
    <add key="SQSServiceQueeUrl" value="https://sqs.sa-east-1.amazonaws.com/701921310896/" />
    <add key="AwsAccessId" value=""/>
    <add key="AwsSecretAccessKey" value=""/>
    <add key="QueueName" value="MyQueue"/>
  </appSettings>
</configuration>